<section class=" py-20" [ngClass]="background">
  <div class="max-w-screen-xl mx-auto px-4">
    <div class="text-center max-w-2xl mx-auto mb-16">
      <h2 class="mb-4 text-4xl font-semibold text-gray-900">
        {{ title }}
      </h2>
      <p class="text-xl text-gray-600 max-w-2xl mx-auto ">
        {{ description }}
      </p>
    </div>

    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-4">

      <div *ngFor="let feature of features" class="p-6 bg-white " [ngClass]="border">

        <div [ngClass]="feature.shape" class="flex items-center justify-center w-16 h-16 mb-4
          bg-blue-50 ">

          <i class="text-blue-600  text-2xl" [ngClass]="feature.icon">
          </i>

        </div>



        <h3 class="mb-2 text-xl font-semibold text-gray-900">
          {{ feature.title }}
        </h3>

        <p class="text-gray-600">
          {{ feature.text }}
        </p>

      </div>

    </div>

  </div>
</section>