<app-company-overview 
[titleOverview]="'Our Team'"
[paragraphOverview]="'Meet the dedicated professionals who make it all possible'"
></app-company-overview>

<app-expertise-team></app-expertise-team>
<app-leadership-team 
 [features]="feature"
></app-leadership-team>

<app-department-team></app-department-team>

<app-stat-cards-team></app-stat-cards-team>

<app-cta-action 
[backgraund]="'bg-blue-600 hover:bg-blue-700 text-white'"
[textColorTitle]="'text-black'"
[textColorParagraph]="'text-gray-600'"
[bgClass]="'bg-white'"
 [title]="'Join Our Team'"
 [paragraphCTA]="paragraph"
 [linkurlCTS]="'/career'"
 [linkCTA]="'View Open Position'"

 ></app-cta-action>