<app-hero></app-hero>
<app-stat-cards></app-stat-cards>

 <app-features-section  
 [background]="'bg-gray-50'"
 [border]="'border-0 border-gray-200 shadow-sm hover:shadow-md transition'"
 [title]="'Why Choose Us'"
 [description]="'We provide comprehensive workforce and project management solutions tailored to your needs'"
 [features]="feature"
 
 ></app-features-section>








<app-company
 [title]="'Leading Workforce Solutions Provider'"
 [paragraph]="[
    'With over 15 years of experience in the Egyptian market, we specialize in connecting foreign companies with exceptional local talent and managing complex projects from start to finish.',
    'Our deep understanding of both local regulations and international standards makes us the ideal partner for businesses looking to operate in Egypt.'
  ]"
  [imageURL]="'images/photo-1758518731457-5ef826b75b3b.jfif'"
  [link]="'Learn More About Us'"
  [linkURL]="'/about'"
  ></app-company>


<app-cta-action 
[textColorTitle]="'text-white'"
[textColorParagraph]="'text-blue-50'"
[bgClass]="'bg-oklch-gradient'"
 [title]="'Ready to Start Your Project?'"
 [paragraphCTA]="paragraph"
 [linkurlCTS]="'/contact'"
 [linkCTA]="'Get in Touch'"

 ></app-cta-action>

