<div class="w-screen text-center font-sans py-16 border-0 rounded-base shadow-xs" [ngClass]="bgClass">
    <h5 class="mb-6 text-[36px] font-medium " [ngClass]="textColorTitle">
        {{ title }}
    </h5>
    <p class="mb-8 text-[20px]" [ngClass]="textColorParagraph">
        {{ paragraphCTA }}
    </p>
    <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
        <a [routerLink]=" linkurlCTS " [ngClass]="backgraund"
           class="inline-flex items-center gap-2   px-8 py-3
         rounded-lg font-semibold  transition-colors">
            {{ linkCTA }}
        </a>
      
    </div>
</div>