<app-company-overview 
[titleOverview]="'Careers'"
[paragraphOverview]="'Join our team and build a rewarding career in workforce solutions and project management'"
></app-company-overview>

<app-career-at-egy-workforce></app-career-at-egy-workforce>




<app-position-career 
[types]="type"
></app-position-career>

<app-process 
[title]="'Application Process'"
[description]="'How to join our team'"
[background]="'bg-blue-600'"
[features]="feature"
></app-process> 

<app-cta-action 
[textColorTitle]="'text-white'"
[textColorParagraph]="'text-blue-50'"
[bgClass]="'bg-oklch-gradient'"
 [title]="title"
 [paragraphCTA]="paragraph"
 [linkurlCTS]="'/contact'"
 [linkCTA]="'Contact HR Team'"
></app-cta-action>